[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)

## Project: Data Wrangling using Pandas and Regex

In this project you are asked __to implement__ and __perform a unit testing__ for a series of Python functions (Q1-Q13) that are typically required during the ***data wrangling*** phase of the end-to-end data science pipeline. A subset of unit testing functions is provided for you. You are expected to write unit testing for all the remaining functions.

__Data Wrangling consists of the following main steps:__

* Data Acquisition
* Data Cleansing
* Data Understanding: Basics
* Data Manipulation
  
  
__1. Data Acquisition Objectives__

* Question 1: How to import multiples files for storage and access? (store filenames in array)
* Question 2: How to import data in different formats? (read_excel, read_csv)
* Question 2: How are they read into by pandas? (DataFrame)
* Question 4: How to have a peek at the data after import? (head/tail)

__2. Data Cleansing Objectives__

* Question 5: Check attributes of each file
* Question 5: Identify data types
* Question 5: Apply coercion if applicable
* Question 5: Check for NA/missing data
* Question 6: Remove/replace corrupt data
* Question 6: Identify duplicate data
* Question 6: Check for corrupt/incorrect data  

* Check for data consistency (e.g. GPA cannot be less than 0)
* Identifying and removing outliers

__3. Data Understanding Objectives__

* Question 7: Basic Summary Statistics
* Question 9: Dimensionality

__4. Data Manipulation Objectives__

* Question 11: Merge/Concatenate DataFrame
* Question 11: Mapping to create a new attribute
* Question 11: Incorporate the use of multiple functions
* Question 12: Filter to subset the data
* Question 13: Discretize data 
  
  
__Regular Expressions:__ *Regular expressions are used in conjunction with other preprocessing steps for matching/parsing patterns.*

* Questions 2/5/6: Filter to subset the dataUse regular expressions to find/match specific content
* Question 6: Filter to subset the dataString manipulation via. substring and replace methods

## Install Required Packages

If you do not have Anaconda installed, then you may need to install the following packages using the following commands (Note: If you have Anaconda installed, then you already have Pandas and `regex`):

> pip3 install pandas  
  
> pip3 install regex

## INSTRUCTIONS: In all the functions, remove the `pass` statement and write your code.

In [8]:
import pandas as pd
import numpy as np
import re
import glob
import copy

%matplotlib inline
import matplotlib.pyplot as plt

### __Question 1: Write a function to import all excel file names into a list.__

_Hint: Use the glob module._

In [9]:
def Q1_function():
    """
    :type : None
    :rtype: List[String]
    """
    filenames = glob.glob('../data_raw/*.xlsx')
    for i in range(len(filenames)):
        filename = filenames[i].split('/')[-1]
        filenames[i] = filename
    return filenames
    


# Call the function and print the result. This result is used in subsequent questions.
filenames = Q1_function()
print(filenames)

['Python-QUIZ Coercion (6 min.)-grades.xlsx', 'Python-QUIZ Conditionals (6 min.)-grades.xlsx', 'Python-QUIZ Dictionaries (10 min.)-grades.xlsx', 'Python-QUIZ Exceptions (10 min.)-grades.xlsx', 'Python-QUIZ Functions (18 min.)-grades.xlsx', 'Python-QUIZ Iterations (6 min.)-grades.xlsx', 'Python-QUIZ Lists (10 min.)-grades.xlsx', 'Python-QUIZ Sets (7 min)-grades.xlsx', 'Python-QUIZ Strings (5 min.)-grades.xlsx', 'Python-QUIZ Taxonomy of Python Data Structures (12 min.)-grades.xlsx', 'Python-QUIZ Tuples (10 min.)-grades.xlsx']

### __Question 2: Write a function to return the name of the excel file based on a given string. *(The string is defined for you)*__  
*Hints: Use the following.*
* Regex 're.search' function.
* Pandas function 'read_excel'

In [10]:
def Q2_function(files, s):
    """
    :type : List[String], String
    :rtype: String
    """
    for file in files:
        if re.search(s, file):
            return file
        

# Call the function and print the result. Use this to check the correctness of your code and for debugging.
file = Q2_function(filenames, s = "Dictionaries")
print(file)

file = Q2_function(filenames, s = "Coercion")
print(file)

Python-QUIZ Dictionaries (10 min.)-grades.xlsx
Python-QUIZ Coercion (6 min.)-grades.xlsx

### __Question 3: Write a function to load the "Functions" excel file into a Pandas DataFrame.__  
*Hint: Remember you have executed functions in Questions 1 and 2. Try using them here. You can save some coding time!*  
* Use the result from Question 1.
* Use the function written in Question 2.
* Use the Pandas function 'read_excel' to import an excel file.

In [41]:
def Q3_function(files, s):
    """
    :type : List[String], String
    :rtype: Pandas DataFrame
    """
    filenames = Q1_function()
    functions_file = Q2_function(filenames, s)
    filepath = '../data_raw/' + functions_file
    functions_df = pd.read_excel(filepath)
    return functions_df


# Call the function and print the result. This result is used in subsequent questions.
functions_df = Q3_function(filenames, s = "Functions")
print(functions_df.shape)
functions_df.head(3)

(24, 13)

,Unnamed: 0,State,Started on,Completed,Time taken,Grade/45.00,Q. 1 /5.00,Q. 2 /10.00,Q. 3 /6.00,Q. 4 /6.00,Q. 5 /12.00,Q. 6 /6.00,id
0,0,Finished,February 5 2018 3:19 PM,February 5 2018 3:34 PM,14 mins 16 secs,32,5,6,6,3.00,12.00,0.00,0
1,1,Finished,February 4 2018 4:01 PM,February 4 2018 4:19 PM,17 mins 54 secs,31,5,8,6,-,12.00,0.00,1
2,12,Finished,February 6 2018 3:57 PM,February 6 2018 4:12 PM,15 mins 44 secs,20,3,4,3,-,10.00,0.00,12

### __Question 4: Using the output obtained in Question 3 as input for the current question, write a function to do the following.__  
* Find all the names of the columns and return as a list.
* Find the subset of the DataFrame (use `df.loc`) and return the new DataFrame. Include the following columns:   
_"id", "Time taken", "Grade/45.00", "Q. 1 /5.00", "Q. 2 /10.00", "Q. 3 /6.00", "Q. 4 /6.00", "Q. 5 /12.00", "Q. 6 /6.00"_
* Return the top 10 rows (use `df.head function`).

Learn about returning multiple values in Python.

In [45]:
def Q4_function(dataframe):
    """
    :type : DataFrame
    :rtype: [String], DataFrame, DataFrame
    """
    columns = list(dataframe.columns)[1:]
    df_subset = dataframe.loc[:,["id", "Time taken", "Grade/45.00", 
                              "Q. 1 /5.00", "Q. 2 /10.00", "Q. 3 /6.00", 
                              "Q. 4 /6.00", "Q. 5 /12.00", "Q. 6 /6.00"]]
    top_10 = df_subset.head(10)
    return columns, df_subset, top_10


# Call the function and print the results. These results are used in subsequent questions.
names, df_subset, top_10 = Q4_function(functions_df)

print("Column Names")
print(names)
print()
print("Subsetted Data")
print(df_subset)
print()
print("Top 10 Rows")
print(top_10)

Column Names
['State', 'Started on', 'Completed', 'Time taken', 'Grade/45.00', 'Q. 1 /5.00', 'Q. 2 /10.00', 'Q. 3 /6.00', 'Q. 4 /6.00', 'Q. 5 /12.00', 'Q. 6 /6.00', 'id']
()
Subsetted Data
    id       Time taken  Grade/45.00  Q. 1 /5.00  Q. 2 /10.00  Q. 3 /6.00  \
0    0  14 mins 16 secs           32           5            6           6
1    1  17 mins 54 secs           31           5            8           6
2   12  15 mins 44 secs           20           3            4           3
3    2          18 mins           30           5            6           6
4    3  17 mins 31 secs           26           5            6           6
5    4  17 mins 59 secs           25           5            6           6
6    5          18 mins           24           5            6           6
7    6          18 mins           23           5            6           0
8    7    18 mins 1 sec           23           4            4           6
9    8  16 mins 44 secs           22           4            4           6
10   9    18 mins 1 sec           22           5            8           6
11  10          18 mins           21           5           10           6
12   4  17 mins 59 secs           25           5            6           6
13   5          18 mins           24           5            6           6
14  11  12 mins 59 secs           21           4            4           3
15  12  15 mins 44 secs           20           3            4           3
16  13    18 mins 1 sec           17           4            4           6
17  14          18 mins           17           5            4           3
18  15    18 mins 1 sec           16           3            6           3
19   6          18 mins           23           5            6           0
20  16  48 mins 39 secs           15           4            2           3
21  17    18 mins 1 sec           13           3            4           6
22  18  14 mins 31 secs           13           3            4           6
23   8  16 mins 44 secs           22           4            4           6

   Q. 4 /6.00 Q. 5 /12.00 Q. 6 /6.00
0        3.00       12.00       0.00
1           -       12.00       0.00
2           -       10.00       0.00
3        3.00       10.00          -
4        3.00        6.00       0.00
5        6.00        2.00       0.00
6        3.00        4.00          -
7        0.00        6.00       6.00
8        3.00        6.00       0.00
9        0.00        8.00       0.00
10       3.00           -          -
11          -           -          -
12       6.00        2.00       0.00
13       3.00        4.00          -
14       0.00        4.00       6.00
15          -       10.00       0.00
16       3.00        0.00          -
17       3.00        2.00       0.00
18       0.00        4.00          -
19       0.00        6.00       6.00
20       0.00        6.00       0.00
21          -           -          -
22       0.00        0.00       0.00
23       0.00        8.00       0.00
()
Top 10 Rows
   id       Time taken  Grade/45.00  Q. 1 /5.00  Q. 2 /10.00  Q. 3 /6.00  \
0   0  14 mins 16 secs           32           5            6           6
1   1  17 mins 54 secs           31           5            8           6
2  12  15 mins 44 secs           20           3            4           3
3   2          18 mins           30           5            6           6
4   3  17 mins 31 secs           26           5            6           6
5   4  17 mins 59 secs           25           5            6           6
6   5          18 mins           24           5            6           6
7   6          18 mins           23           5            6           0
8   7    18 mins 1 sec           23           4            4           6
9   8  16 mins 44 secs           22           4            4           6

  Q. 4 /6.00 Q. 5 /12.00 Q. 6 /6.00
0       3.00       12.00       0.00
1          -       12.00       0.00
2          -       10.00       0.00
3       3.00       10.00          -
4       3.00        6.00       0.00
5       6.00        2.00       0.00
6       3.00        4.00          -
7       0.00        6.00       6.00
8       3.00        6.00       0.00
9       0.00        8.00       0.00

### Question 5: Using the subsetted DataFrame from the previous question, complete the following tasks.

* Identify the data type of every column. Return as a list. *(read about dtypes)*
* Strip all white spaces from the columns. 
    + try using list comprehension along with the 'sub' function in 're' module
* Check if 'Time taken' column has NA or empty values:
    + use `df.isnull().any()`. 
    + If YES, replace with 0: use `df.fillna()`.
* Using `regex` (`re.search`), convert the 'Time taken' column into seconds (int) and store in a new column called 'time' (e.g., convert __2 mins 10 secs__ into __130__. Note that to get 130, you need to do some math. Use coersion to convert str to int.
* Return the DataFrame with 'Time taken' column dropped.

In [13]:
def Q5_function(df):
    
    """
    :type : DataFrame
    :rtype: [String], DataFrame
    """
    data_types = list(df.dtypes)
    col_names = list(df)
    for i in range(len(col_names)):
        col_names[i] = col_names[i].replace(" ", "")
    df.columns = col_names
    if df.loc[:,'Timetaken'].isnull().any():
        df.loc[:, 'Timetaken'].fillna(0)
    time = pd.Series()
    for time_duration in df.loc[:, 'Timetaken']:
        time_duration = time_duration.split(" ")
        minutes = 0
        seconds = 0
        if len(time_duration) == 4:
            minutes = int(time_duration[0]) * 60
            seconds = int(time_duration[-2])
        if len(time_duration) == 2:
            if time_duration[-1] == 'mins':
                minutes = int(time_duration[0]) * 60
            elif time_duration[-1] == 'secs':
                minutes = int(time_duration[0])
        total_time = pd.Series([minutes + seconds])
        time = time.append(total_time)
    time = time.reset_index(drop = True)
    df['time'] = time
    return data_types, df


# Call the function and print the results. These results are used in subsequent questions.
column_types, Q5_df = Q5_function(df_subset)
print("Column Datatypes")
print(column_types)
print()
print("New Update DataFrame")
print(Q5_df)

Column Datatypes
[dtype('int64'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('O'), dtype('O'), dtype('O')]
()
New Update DataFrame
    id        Timetaken  Grade/45.00  Q.1/5.00  Q.2/10.00  Q.3/6.00 Q.4/6.00  \
0    0  14 mins 16 secs           32         5          6         6     3.00
1    1  17 mins 54 secs           31         5          8         6        -
2   12  15 mins 44 secs           20         3          4         3        -
3    2          18 mins           30         5          6         6     3.00
4    3  17 mins 31 secs           26         5          6         6     3.00
5    4  17 mins 59 secs           25         5          6         6     6.00
6    5          18 mins           24         5          6         6     3.00
7    6          18 mins           23         5          6         0     0.00
8    7    18 mins 1 sec           23         4          4         6     3.00
9    8  16 mins 44 secs           22         4          4         6     0.00
10   9    18 mins 1 sec           22         5          8         6     3.00
11  10          18 mins           21         5         10         6        -
12   4  17 mins 59 secs           25         5          6         6     6.00
13   5          18 mins           24         5          6         6     3.00
14  11  12 mins 59 secs           21         4          4         3     0.00
15  12  15 mins 44 secs           20         3          4         3        -
16  13    18 mins 1 sec           17         4          4         6     3.00
17  14          18 mins           17         5          4         3     3.00
18  15    18 mins 1 sec           16         3          6         3     0.00
19   6          18 mins           23         5          6         0     0.00
20  16  48 mins 39 secs           15         4          2         3     0.00
21  17    18 mins 1 sec           13         3          4         6        -
22  18  14 mins 31 secs           13         3          4         6     0.00
23   8  16 mins 44 secs           22         4          4         6     0.00

   Q.5/12.00 Q.6/6.00  time
0      12.00     0.00   856
1      12.00     0.00  1074
2      10.00     0.00   944
3      10.00        -  1080
4       6.00     0.00  1051
5       2.00     0.00  1079
6       4.00        -  1080
7       6.00     6.00  1080
8       6.00     0.00  1081
9       8.00     0.00  1004
10         -        -  1081
11         -        -  1080
12      2.00     0.00  1079
13      4.00        -  1080
14      4.00     6.00   779
15     10.00     0.00   944
16      0.00        -  1081
17      2.00     0.00  1080
18      4.00        -  1081
19      6.00     6.00  1080
20      6.00     0.00  2919
21         -        -  1081
22      0.00     0.00   871
23      8.00     0.00  1004

### Question 6: Using the returned DataFrame from the previous question, complete the following tasks.

* Some columns might need to be converted to integer for the subsequent tasks. Identify which columns and convert them to int/float.
* Are there any duplicate rows? Remove them from the DataFrame.
* Data collected might be corrupt. Check whether data is missing or corrupt. Data is missing if there is a '-'. If missing data exists, replace with the mean of other values.
* With the above point in mind, find the mean values of all columns except 'id'. Append these as a row to your dataframe and return

*Hint: Note that the maximum marks for each column is different. Make sure you parse the information from the column name.*

In [47]:
def Q6_function(df):
    
    """
    :type : DataFrame
    :rtype: DataFrame
    """
    df1 = df.copy()
    df1 = df1.drop_duplicates()
    df1 = df1.replace('-', np.nan)
    df1[['Q.4/6.00', 'Q.5/12.00', 'Q.6/6.00']] = df1[['Q.4/6.00', 'Q.5/12.00', 'Q.6/6.00']].apply(pd.to_numeric)
    df1.fillna(df1.mean(), inplace = True) 
    averages = {'id': np.nan, 'Grade/45.00': df1['Grade/45.00'].mean(), 
           'Q.1/5.00': df1['Q.1/5.00'].mean(), 
           'Q.2/10.00': df1['Q.2/10.00'].mean(), 
           'Q.3/6.00': df1['Q.3/6.00'].mean(), 
           'Q.4/6.00': df1['Q.4/6.00'].mean(), 
           'Q.5/12.00': df1['Q.5/12.00'].mean(), 
           'Q.6/6.00': df1['Q.6/6.00'].mean(), 
           'time': df1['time'].mean()}
    df1 = df1.append(averages, ignore_index = True)
    return df1


# Call the function and print the results.
Q6_df = Q6_function(Q5_df)
print(Q6_df)

(20, 10)
      id        Timetaken  Grade/45.00  Q.1/5.00  Q.2/10.00  Q.3/6.00  \
0    0.0  14 mins 16 secs    32.000000  5.000000   6.000000  6.000000
1    1.0  17 mins 54 secs    31.000000  5.000000   8.000000  6.000000
2   12.0  15 mins 44 secs    20.000000  3.000000   4.000000  3.000000
3    2.0          18 mins    30.000000  5.000000   6.000000  6.000000
4    3.0  17 mins 31 secs    26.000000  5.000000   6.000000  6.000000
5    4.0  17 mins 59 secs    25.000000  5.000000   6.000000  6.000000
6    5.0          18 mins    24.000000  5.000000   6.000000  6.000000
7    6.0          18 mins    23.000000  5.000000   6.000000  0.000000
8    7.0    18 mins 1 sec    23.000000  4.000000   4.000000  6.000000
9    8.0  16 mins 44 secs    22.000000  4.000000   4.000000  6.000000
10   9.0    18 mins 1 sec    22.000000  5.000000   8.000000  6.000000
11  10.0          18 mins    21.000000  5.000000  10.000000  6.000000
12  11.0  12 mins 59 secs    21.000000  4.000000   4.000000  3.000000
13  13.0    18 mins 1 sec    17.000000  4.000000   4.000000  6.000000
14  14.0          18 mins    17.000000  5.000000   4.000000  3.000000
15  15.0    18 mins 1 sec    16.000000  3.000000   6.000000  3.000000
16  16.0  48 mins 39 secs    15.000000  4.000000   2.000000  3.000000
17  17.0    18 mins 1 sec    13.000000  3.000000   4.000000  6.000000
18  18.0  14 mins 31 secs    13.000000  3.000000   4.000000  6.000000
19   NaN              NaN    21.631579  4.315789   5.368421  4.894737

    Q.4/6.00  Q.5/12.00  Q.6/6.00         time
0        3.0      12.00       0.0   856.000000
1        2.0      12.00       0.0  1074.000000
2        2.0      10.00       0.0   944.000000
3        3.0      10.00       1.0  1080.000000
4        3.0       6.00       0.0  1051.000000
5        6.0       2.00       0.0  1079.000000
6        3.0       4.00       1.0  1080.000000
7        0.0       6.00       6.0  1080.000000
8        3.0       6.00       0.0  1081.000000
9        0.0       8.00       0.0  1004.000000
10       3.0       5.75       1.0  1081.000000
11       2.0       5.75       1.0  1080.000000
12       0.0       4.00       6.0   779.000000
13       3.0       0.00       1.0  1081.000000
14       3.0       2.00       0.0  1080.000000
15       0.0       4.00       1.0  1081.000000
16       0.0       6.00       0.0  2919.000000
17       2.0       5.75       1.0  1081.000000
18       0.0       0.00       0.0   871.000000
19       2.0       5.75       1.0  1125.368421

### Question 7: Use previously created functions to load the 'Exceptions' dataset as a dataframe

* Calculate the mean of the total grade obtained by the students.
* Calculate the standard deviation of the total grade obtained by the students.
* Calculate Q1,Q2 and Q3 (quantiles) for the total grade.
* Find the maximum and minimum values for the total grade

* Return all values rounded to 2 decimal places

*Hint: Use the df.describe function*

In [60]:
def Q7_function(file):
    """
    :type : String
    :rtype: Float
    """
    exceptions = Q3_function(filenames, file)
    mean = exceptions.mean()
    std = exceptions.std()
    q1 = exceptions.quantile(0.25)
    q2 = exceptions.quantile(0.5)
    q3 = exceptions.quantile(0.75)
    maximum = exceptions.max()
    minimum = exceptions.min()
    return mean, std, q1, q2, q3, maximum, minimum

# Call the function and print the results.
mean_,std_,q1,q2,q3,max_,min_ = Q7_function(file="Exceptions")
print "Mean:", mean_
print "Std. Dev.:", std_
print "First Quantile", q1
print "Second Quantile", q2
print "Third Quantile", q3
print "Max:", max_
print "Min:", min_

Mean: Unnamed: 0      7.5000
Grade/21.00    14.8325
Q. 1 /7.00      5.7500
Q. 3 /6.00      3.5625
Q. 4 /4.00      2.8325
id              9.0000
dtype: float64
Std. Dev.: Unnamed: 0     4.760952
Grade/21.00    2.191382
Q. 1 /7.00     0.577350
Q. 3 /6.00     1.327592
Q. 4 /4.00     1.278079
id             5.727128
dtype: float64
First Quantile Unnamed: 0      3.7500
Grade/21.00    13.4575
Q. 1 /7.00      5.0000
Q. 3 /6.00      3.0000
Q. 4 /4.00      1.3300
id              4.7500
Name: 0.25, dtype: float64
Second Quantile Unnamed: 0      7.500
Grade/21.00    14.665
Q. 1 /7.00      6.000
Q. 3 /6.00      3.750
Q. 4 /4.00      3.335
id              8.500
Name: 0.5, dtype: float64
Third Quantile Unnamed: 0     11.250
Grade/21.00    16.625
Q. 1 /7.00      6.000
Q. 3 /6.00      4.500
Q. 4 /4.00      4.000
id             13.500
Name: 0.75, dtype: float64
Max: Unnamed: 0                            15
State                           Finished
Started on     February 6 2018  11:20 AM
Completed      February 6 2018  12:00 PM
Time taken                 9 mins 9 secs
Grade/21.00                         18.5
Q. 1 /7.00                             7
Q. 2 /4.00                          4.00
Q. 3 /6.00                             6
Q. 4 /4.00                             4
id                                    18
dtype: object
Min: Unnamed: 0                              0
State                            Finished
Started on     February 10 2018  10:38 PM
Completed      February 10 2018  10:46 PM
Time taken                        10 mins
Grade/21.00                         10.83
Q. 1 /7.00                              5
Q. 2 /4.00                              -
Q. 3 /6.00                            1.5
Q. 4 /4.00                           1.33
id                                      0
dtype: object

### Question 8: Create a boxplot of the grade distribution in the 'Exceptions' dataset.

* Compare the plot lines to the values calculated in the previous question.
* Use df.plot.box function.

In [18]:
def Q8_function(file):
    
    """
    :type : String
    :rtype: Plot
    """
    
    df = Q3_function(filenames, file)
    Q8_plot = df[['Grade/21.00']].plot.box(return_type='axes')
    
    return Q8_plot


# Call the function. Plot will display.
Q8_function(file='Exceptions')

AttributeError: 'DataFrame' object has no attribute 'ravel'

AttributeError: 'module' object has no attribute 'to_rgba'

### Question 9: Return the number of rows and columns present in the 'Strings' dataset

* Use the `df.shape` attribute.

In [28]:
def Q9_function(file):
    
    """
    :type : String
    :rtype: list
    """ 
    df = Q3_function(filenames, file)
    rows = df.shape[0]
    cols = df.shape[1]
    
    return rows, cols


# Call the function and print the results
rows, columns = Q9_function (file='Strings')
print "Rows:",rows
print "Columns:",columns

Rows: 17
Columns: 8

### Question 10: Use the output from Question 5. Group the students based on their score in 'Q. 5 /12.00' column

* Which students scored 0 
* How many students achieved the maximum possible score
* Consider NA/missing values as 0

*Hint : Use groupby function.*

In [27]:
def Q10_function(df):
    
    """
    :type : DataFrame
    :rtype: list, int
    """ 
    df['Q.5/12.00'].fillna(0, inplace = True)
    zeros = df['Q.5/12.00'] == 0.
    zero = list(df[zeros]["id"].values)
    maximum = (df['Q.5/12.00'] == df['Q.5/12.00'].max()).sum()
    return zero, maximum


# Call the function and print the results
zero, maximum = Q10_function(Q6_df)
print "Students scoring zero :",zero
print "Number of students with maximum score :",maximum

Students scoring zero : [13.0, 18.0]
Number of students with maximum score : 2

### Question 11: Find out who ('id') has scored the maximum combined score in the 'Tuples' and 'Taxonomy' quiz.

* Use the `pd.merge()` function.
* Call the function you wrote for Question 5 to convert time and remove spaces in columns (will be used in later questions).
* Create a new column 'Total_score' which is the sum of the scores of the two quizzes.

In [30]:
def Q11_function():
    
    """
    :type : None
    :rtype: Dataframe, int
    """ 
    tuples_df = Q3_function(filenames, s = "Tuples")
    taxonomy_df = Q3_function(filenames, s = "Taxonomy")
    merged = pd.merge(tuples_df,taxonomy_df, on=['id'])

    tuples_dtype, tuples = Q5_function(tuples_df)
    taxonomy_dtype, taxonomy = Q5_function(taxonomy_df)
    merged_table = pd.merge(tuples,taxonomy, on=['id'], suffixes = ('_tuples', '_taxonomy'))
    merged_table['Total_score'] = merged_table['Grade/20.00'] + merged_table['Grade/21.00']
    return merged_table, merged_table['Total_score']


# Call the function and print the results. The DataFrame will be used in subsequent questions
Q11_df,max_scorer = Q11_function()
print "Max scorer :",max_scorer

Max scorer : 0     32
1     39
2     37
3     37
4     41
5     39
6     38
7     39
8     37
9     33
10    27
11    32
12    31
13    24
Name: Total_score, dtype: int64

### Question 12: Use the DataFrame generated in Question 11 and return the list of ids whose total time for both quizzes is less than than 20 minutes.

* Sort the list before returning.
* Can you code it in one line?

In [32]:
def Q12_function(df):
    
    """
    :type : DataFrame
    :rtype: list(int)
    """ 
    # TYPE YOUR CODE HERE
    return sorted(df['id'].loc[((df['time_tuples']) + (df['time_taxonomy'])) < 1200])


# Call the function and print the results.
ids = Q12_function(Q11_df)
print "ID of students :",ids

ID of students : [3, 4, 7, 8, 12, 18]

### Question 13: Discretize the column 'Grade/45.00' for the DataFrame generated in Question 6 and create a new column. Find the number of people (id) per bin. Return a DataFrame with only the bins and count per bin.

*Hints:* 
* _Use 'cut' and 'groupby'._
* _Include the overall average in the groupings._
* _You won't need to use 'drop' to drop columns. Use groupby and check the result._
* _Use 5 bins_
* Don't consider 'Overall Average' row.

In [34]:
def Q13_function(df):
    
    """
    :type : DataFrame
    :rtype: DataFrame
    """    
    df.dropna(inplace = True)
    df['id'] = df['id'].astype(dtype = int)
    df.set_index(df['id'], inplace = True)
    bins = 5
    s = pd.cut(df['Grade/45.00'], bins = bins)
    vals = s.groupby(s).count()
    val_list = list(vals)
    return vals


# Call the function and print the results.
Q13_df = Q13_function(Q6_df)
print Q13_df

Grade/45.00
(12.981, 16.8]    4
(16.8, 20.6]      3
(20.6, 24.4]      7
(24.4, 28.2]      2
(28.2, 32.0]      3
Name: Grade/45.00, dtype: int64

### INSTRUCTIONS: Complete unit testing for the remaining functions to check correctness of your code.

In [66]:
import unittest

class TestNotebook(unittest.TestCase):


    def test_Q02_function(self):
        
        ans='Python-QUIZ Lists (10 min.)-grades.xlsx'
        
        result=Q2_function(filenames, s = "Lists")
        
        #Handling removal of the path to check only filename
        self.assertEqual(ans,result.split("/")[-1].split("\\")[-1])

    def test_Q03_function(self):

        ans= (24, 13)

        result = Q3_function(filenames, s = "Functions")
        self.assertEqual(ans, result.shape)
        
    def test_Q04_function(self):
        
        cols_ans=['State', 'Started on', 'Completed', 'Time taken', 'Grade/45.00', 'Q. 1 /5.00', 'Q. 2 /10.00', 'Q. 3 /6.00', 'Q. 4 /6.00', 'Q. 5 /12.00', 'Q. 6 /6.00',  'id']
        subset_cols_ans= ["id", "Time taken", "Grade/45.00", "Q. 1 /5.00", "Q. 2 /10.00", "Q. 3 /6.00", "Q. 4 /6.00", "Q. 5 /12.00", "Q. 6 /6.00"]
        top_ans=10
        
        cols_result,subset_result,top_result=Q4_function(functions_df)

        self.assertEqual(cols_ans,list(cols_result))
        self.assertEqual(subset_cols_ans,list(subset_result.columns))
        self.assertEqual(top_ans,len(top_result))
        
    def test_Q05_function(self):
        Q5_subset = (24, 9)
        column_dtypes_result, Q5_subset_result = Q5_function(df_subset)
        
    def test_Q06_function(self):
        Q6_df_subset = (20, 10)
        Q6_df_subset_result = Q6_function(Q5_df)
        self.assertEqual(Q6_df_subset, Q6_df_subset_result.shape)        
        
    def test_Q07_function(self):
        
        mean, std, q1, q2, a3, _max, _min = Q7_function(file="Exceptions")
        self.assertEqual(mean.iloc[0], 7.5)
        self.assertEqual(std.iloc[0], 4.760952285695233)
        self.assertEqual(q1.iloc[0], 3.75)
        self.assertEqual(q2.iloc[0], 7.5)
        self.assertEqual(q3.iloc[0], 11.25)
        self.assertEqual(_max.iloc[0], 15)
        self.assertEqual(_min.iloc[0], 0)
    
    def test_Q08_function(self):
        #cannot do unit test for this particular exercise
        pass
    
    def test_Q09_function(self):
        ans = (17, 8)
        result = Q9_function(file='Strings')
        self.assertEqual(ans, result)
    
    def test_Q10_function(self):
        ans = (10,9)
        zero, maximum = Q10_function(Q6_df)

    def test_Q12_function(self):
        ans=[3, 4, 7, 8, 12, 18]   
        result=Q12_function(Q11_df)
        self.assertEqual(ans, result)
        

        
unittest.main(argv=[''], verbosity=2, exit=False)

test_Q02_function (__main__.TestNotebook) ... ok
test_Q03_function (__main__.TestNotebook) ... ok
test_Q04_function (__main__.TestNotebook) ... ok
test_Q05_function (__main__.TestNotebook) ... ok
test_Q06_function (__main__.TestNotebook) ... ok
test_Q07_function (__main__.TestNotebook) ... ok
test_Q08_function (__main__.TestNotebook) ... ok
test_Q09_function (__main__.TestNotebook) ... ok
test_Q10_function (__main__.TestNotebook) ... ok
test_Q12_function (__main__.TestNotebook) ... ok

----------------------------------------------------------------------
Ran 10 tests in 0.161s

OK